<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CMPUT301GroupProject"
        tools:targetApi="31">

        <!-- LoginActivity is set as the main (launcher) activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:label="Login Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="standard"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.CMPUT301GroupProject">
        </activity>

        <activity
            android:name=".activities.ListActivity"
            android:label="List Activity"
            android:exported="true">
        </activity>

        <activity
            android:name=".activities.ViewTagsActivity"
            android:label="View Tags"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Include the metadata for ML Kit Vision dependencies -->
        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="barcode_ui" />

    </application>

</manifest>
